@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>The application is to demonstrate the task below</h3>

<p>Create an online booking system for a local holiday inn. Functional requirements include:</p>

<ol>
    <li>The booking system enables customer service staff to book a room. The mandatory fields include name, phone, email, check-in date and check-out date.</li>
    <li>The booking system enables customer service staff to cancel a booking.</li>
    <li>Once customers check out, the booking cannot be cancelled.</li>
    <li>Create unit tests for above commands.</li>
</ol>
